RD_API_TOKEN=""

SPIKE1_MAGNET=""
SPIKE1_ROOT_SELECTED_PATHS=""
SPIKE1_DIRECTORY_SCOPE=""
SPIKE1_DIRECTORY_SELECTED_PATHS=""
SPIKE1_EXACT_ZIP_PATH=""
SPIKE1_UNCACHED_MAGNET=""
SPIKE1_UNCACHED_SELECTED_PATH=""

SPIKE4_MAGNET=""
SPIKE4_TORRENT_PATH=""
SPIKE4_EXACT_ZIP_PATH=""
SPIKE4_SELECTED_INTERNAL_PATHS=""
SPIKE4_IGNORE_GLOBS=""
SPIKE4_UNARCHIVE="true"
SPIKE4_RECURSIVE_UNARCHIVE="true"
SPIKE4_DESTINATION_SUBFOLDER=""
SPIKE4_RENAME_PATTERN=""
SPIKE4_RENAME_REPLACEMENT=""
